.maincontainer{
    display: flex;

    background: black;
    opacity: 0.5;
}
.gamename{
    display: flex;
    text-align: center;
}

.mainPage{
    color: white;
}

.playarea{
    display: flex;
    justify-content: space-evenly;
}

.mainPage{
    flex: 1;
    text-align: center;
}

.generatorList{
    background-color: crimson;
    opacity: 20%;
    width: 20%;
    padding: 10px;
    color: white;
}

.upgradeList{
    background-color: crimson;
    opacity: 20%;
    width: 20%;
    color: white;
    padding: 10px;
    text-align: right;
}

.changeBackground{
}