.maincontainer{
    display: flex;
    background: rgba(0,0,0,0.5);
}
.gamename{
    display: flex;
    text-align: center;
}

.mainPage{
    color: white;
    text-align: center;
}

.generatorList{
    background: rgba(0,0,0,0.5);
    color: white;
    margin-left: -20px;
}

.upgradeList{
    text-align: right;
    background: rgba(0,0,0,0.5);
    color: white;
    margin-left: 15px;
}

.changeBackground{
    border: none;
}

