@font-face {
    font-family: 'Final_Fantasy_VII';
    src: local('Final_Fantasy_VII'), url(../../media/fonts/Final_Fantasy_VII.ttf) format('truetype');
}

.damagePoints {
    color: whitesmoke;
    font-family: Final_Fantasy_VII, serif;
    font-size: 80px;
    padding-top: 50px;
}

.redCircle{

    opacity: 20%;
    width: 100px;
    height: 100px;

}

.monsterDiv {
    display: flex;
    justify-content: center;
}
.monster{
}