
.maincontainer{
    display: flex;
    background: rgba(0,0,0,0.5);

}

.bossArea{
    color: white;
    text-align: center;
    height: 70vh;
}

.armyArea{
    height: 20vh;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.changeBackground{
    border: none;
}

.playerPlane{
    width:1520px;
    height:180px;
    margin-top:-200px;



}

.monsterPlane{
    margin-top: -30px;


}

.monster{
    padding-top: 150px;

}

.avatar{
    width: 80px;
    height: 80px;
    margin-top: 50px;
}