.maincontainer{
    display: flex;
    background: rgba(0,0,0,0.5);

}

.gamename{
    display: flex;
    text-align: center;
    margin-left: 20px;
}

.mainPage{
    color: white;
    text-align: center;
}



.changeBackground{
    border: none;
}

.playerPlane{
    width:1520px;
    height:100px;
    margin-top:-200px;



}

.monsterPlane{
    margin-top: -30px;


}

.monster{
    padding-top: 250px;


}
