.maincontainer{
    display: flex;
    background: rgba(0,0,0,0.5);

}

.bossArea{
    color: white;
    text-align: center;
    height: 70vh;
}

.armyArea{
    text-align: center;
    color: white;
}

.changeBackground{
    border: none;
}

.playerPlane{
    width: 100vw;
    height: 10vh;
}

.monsterPlane{
    margin-top: -30px;
}

.monster{
    padding-top: 150px;

}

.avatar{
    width: 80px;
    height: 80px;
    margin-top: 50px;
}
.upgradeCol {
    flex-grow: .5;
}
.generatorCol {
    flex-grow: 1;
}
.gameCol {
    flex-grow: 2;
}