.maincontainer{
    display: flex;
    background: rgba(0,0,0,0.5);

}

.bossArea{
    color: white;
    text-align: center;
    height: 70vh;
}

.armyArea{
    text-align: center;
    color: white;
}

.changeBackground{
    border: none;
}

.playerPlane{
    position: absolute;
    right: 5vw;
    z-index: 1;
}

.monsterPlane{
    margin-top: -30px;
}

.monster{
    padding-top: 150px;

}

.avatar{
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 1vh;
    z-index: 2;
}
.upgradeCol {
    flex-grow: .5;
}
.generatorCol {
    flex-grow: .75;
}
.gameCol {
    flex-grow: 2;
}

.armyContainer {
    position: absolute;
    top: 15vh;
    z-index: 2;
}