.characterSelectContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.characterColContainer {
    margin-top: 10vh;
    align-self: flex-start;
    color: white;
}

.headerContainer {
    align-self: flex-start;
    color: darkred;
    text-align: center;
    font-family: Pieces, Serif, sans-serif;
}

.characterSelectRow {
    align-self: center;
    height: inherit;
    width: 60vw;
}

.headerRow {
    padding-top: 15vh;
}

.characterImage {
    align-self: center;
}

.characterName {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.characterDescription {
    height: 20vh;
}

.characterContainer {
    display: flex;
    flex-direction: column;
}

.formBtn {
    margin-top: 3vh;
    vertical-align: center;
}
