.upgradeList {
    background-image: url("../../media/images/boxHover.png");
    background-position: center;
    background-size: cover;
    background-color: transparent;
    height: 350px;
    width: 350px;
    margin: 0px;
    padding: 25px 80px;
    object-fit: cover;
    minWidth:300;
}

.upgradeContainer {
    font-family: "Helvetica Neue" ;
    color: whitesmoke;
    minWidth:300
}

.upgradeImage {
    height: 70px;
    width: 70px;
    border-color: burlywood;
    border-style: ridge;
}
