.character{
    background-color: transparent;
    background-image: url("../../media/images/generators/backgroundG.jpg");
    background-size: cover;
    border-style: ridge;
    border-color: darkred;
    margin-top: -2vh;
}

.buyButtonGenerator{
    margin-bottom: 10px;
}

.generatorList{
    background: transparent;
    color: white;
    overflow-y: scroll;
    max-height: 65vh;
    z-index: 2;
    max-height: 75vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.generatorList::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge and Firefox*/
.generatorList {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cps{
    font-weight: bold;
    color: green;
    margin-left: -2.5vw;
    margin-bottom: 2vh;
    overflow: hidden;
    white-space: nowrap;
}

.cps img{
    margin-left: 4px;
}

.price{
    font-weight: bold;
    color: red;
    margin-left: -2.5vw;
    margin-bottom: 2vh;
    overflow: hidden;
    white-space: nowrap;
}

.price img{
    margin-left: 4px;
    margin-bottom: 4px;
}


