.character{
    border-style: solid;
    border-color: black;
}

.buyButtonGenerator{
    margin-top: 30px;
}

.generatorList{
    background: rgba(255,0,0,0.2);
    color: white;
    border-style: solid ;
    border-color: rgb(0,0,0);
    overflow-y: scroll;
    max-height: 80vh;

}