
.headercontainer{
    background-position: center;
    background-size: cover;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    width: 100vw;
    border-style: ridge;
    border-color: darkred;
}

.gamename{
    color: crimson;
    font-size: 50px;
    font-family: "Game Sans Serif 7";
}

.gameInfo{
    border-color: darkred;
    border-style: ridge;
}

.volumeControl{
    padding: 5px;
    margin-right: 20px;
}

.logoutBtn{
    margin-right: 10px;
}

.showCPS{
    color: azure;
    padding-right: 150px;
    font-family: "Game Sans Serif 7", serif;

}
.showPoints{
    color: darkred;
    padding-right: 150px;
    font-family: "Game Sans Serif 7", serif;
}