.headercontainer{
    background-position: center;
    background-size: cover;
    background-color: rgb(20, 20, 20);
    object-fit: cover;
    display: flex;
    width: 100vw;
    border-style: ridge;
    border-color: darkred;
}

.gamename{
    padding: 0px 50px 10px 10px;
    color: darkred;
    font-family: "Adobe Caslon Pro Bold";
}

.gameInfo{
    align-items: center;
    color: darkred;
    font-family: "Adobe Caslon Pro Bold";
}

.showCPS{
    color: darkred;
    padding-right: 50px;

}
.showPoints{
    color: darkred;
    padding-right: 50px;
}