.headercontainer{
    display: flex;
    width: 100vw;
    margin-left: 20px;
    background-color: transparent;
}

.showCPS{
    color: white;

}
.showPoints{
    color: darkred;
    text-align: center;
}